ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.active {
    background-color: darkorange;
}

.header {
    background-color: darkgoldenrod;
}

.main {
    background-color: greenyellow;
    height: auto;
}

.footer {
    background-color: saddlebrown;
}

.background {
    background-color: dimgray;
}

.burger {
    background: url(../Images/burger-hero.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    position: relative;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.burger-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 12%;
    color: beige;
    font-family: Impact charcoal sans-serif;
}

.bigger-text {
    font-size: 5vw;
}

.big-text {
    font-size: 4vw;
}