ul {
    list-style-type: none;
    margin: 0 ;
    padding: 0 ;
    overflow: hidden;
    background-color: tomato;
}


li {
    float: left;
    border-right: 1px solid orange;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: goldenrod;
}

.active {
    background-color: darkorange;
}

.header {
    background-color: darkgoldenrod;
}

.pre-main{
    background-color: greenyellow;
    min-height: 200px;
}

.main {
    background-color: saddlebrown;
    height: auto;
    min-height: 200px;
}

.footer {
    background-color: darkgoldenrod;
    min-height: 100px;
}

.background {
    background-color: dimgray;
}

.burger {
    background: url(../Images/burger-hero.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    position: relative;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.burger-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 12%;
    color: beige;
    font-family: Impact charcoal sans-serif;
}

.bigger-text {
    font-size: 5vw;
}

.big-text {
    font-size: 4vw;
}